<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"><!--estandar de caracteres que se va a utlizar (ñ ch tildes o carateres especiales )   -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--Compatible con que navegadores   -->
    <meta name="viewport" content="width= , initial-scale=1.0"><!--acncho del dispositivo donde se puede visualizar la pag.  -->
    <title><%=title %></title><!--El titulo de la pagina  -->
<!--espacio para herramientas o plugins necesarios para esta pag   -->
    <!-- BOOTSS 4 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- estilo google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">
    
    <!-- CUstom CSS PErsonalizado -->
    <link rel="stylesheet" href="/CSS/Titulares.css"><!--Incluyo el arhivo css Home tipo de archivo stylesheet href ruta de archivo -->
<!-- Animaciones -->
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <style> 
        body {
        font-family: 'Spicy Rice',cursive;
    }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet">
    <style> 
        .titulo {
            font-family: 'Ephesis', cursive;
            font-size:80px;
    }
    </style>
</head>

<body> <!--Aqui van los componentes de la Pg  -->
    <div class="Containerh1 text-left  text-white " id="encabezado">
        <h1 class="TituloEnca "> Nos encontramos a tu servicio 24/7. Contactanos al <i class="fas fa-phone"></i> 068-0000000 <i class="fab fa-whatsapp" id="Wpp"></i> 300-0000-000. Buscanos tambien en <i class="fab fa-facebook "id="Face"></i>  <i class="fab fa-twitter "id="Twit"></i> y <i class="fab fa-instagram"id="Inst"></i></h1  >
            
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark" id="selector">
        <div class="container">
            <a class="navbar-brand" href="/">  Peridico Digital</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Titulares"><i class="fas fa-scroll"></i> Titulares</a>
                    </li>
                    
                </ul>
                <span class="navbar-text " aria-current="">
                    <i class="fas fa-book-open"></i> Bienvenido a tu Peridico Digital
                </span>
            </div>
        </div>
    </nav>

    <h3 class="titulo text-center text-black"> Deportes</h3>

    <div id="MenuIMa">
        <div id="areaA">
            
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Economia">Economia.</a>

                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -¿Qué es el techo de deuda y cómo podría descarrilar la economía de EE.UU.?
                    </p>

                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -Activan plan de contingencia por afectaciones al oleoducto Caño Limón–Coveñas
                    </p>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/Deportes">Deportes.</a>

                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -Colombia pedirá Copa América de 2023, esperando que futuros paros no la tumben.
                    </p>

                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -Los pilotos de MotoGP reclaman más seguridad en la formación: "Que mis hijos jueguen a tenis".
                    </p>
                </li>
                <li class="nav-item">
                    <a class="nav-link  " aria-current="page" href="/Colombia">Colombia</a>
                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -Colombia: En agosto creció la demanda de energía un 5,68%.
                    </p>

                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -‘Innovamente’ abrió sus puertas en el Tolima.
                    </p>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="/Farandula">Farandula.</a>
                    
                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -Andrea Serna muestra su elegante casa a sus seguidores.
                    </p>
                    
                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -Lina Tejeiro pagó gran suma por dañar un vestido de Carolina Herrera.
                    </p>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="/Tecnologia">Tecnologia.</a>
                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        "Apagón" de internet: a qué teléfonos y computadoras puede afectar.
                    </p>
                </li>
            </ul>
    
        </div>
    
        <div id="areaB">
            
            
            
            <div class="Articulo  ">
                <h4 class="Titem-1 text-center">Colombia pedirá Copa América de 2023, esperando que futuros paros no la tumben</h4>
            
            
            
                <p class="Texto text-left">Según Ramón Jesurún, presidente de la Federación Colombiana de Fútbol, la candidatura
                    para el torneo femenino se presentará antes del próximo 15 de octubre.
                    El directivo hizo el anuncio en una improvisada rueda de prensa en la que dijo que Colombia se postulará como
                    sede única para la competición que entregará 3 cupos directos para la Copa del Mundo del mismo 2023 en Australia
                    y Nueva Zelanda.
                </p>

                
                <p class="Texto text-left">    Sin embargo, advirtió que juega en contra de la candidatura el hecho de no haber podido organizar la Copa
                    América masculina de 2021 debido a la alteración del orden público por las protestas del paro nacional.
                    “Vamos a aspirar, Lo que pasa es que tenemos el inri de la Copa América perdida. Pero tenemos todo para hacerla:
                    disposición, apoyo y recursos”, comentó.
                </p>
                <p class="Texto text-left">    Sobre las ciudades que podrían albergar los partidos, dijo que aún no están definidas, pero que se tendrían en
                    cuenta de manera preliminar capitales como Bogotá, Barranquilla, Cali, Medellín, Bucaramanga, las del Eje
                    Cafetero, entre otras.
                </p> 
                <p class="Texto text-left">    Por último, señaló que el objetivo principal es que la Selección Colombia Femenina “clasifique sí o sí” al
                    Mundial.
                </p>

                <figure class="figure ">
                    <img src="/Img/Noti2.jpg" class="figure-imgc img-fluid rounded" alt="...">
                    <figcaption class="figure-caption text-danger text-center">Selección Colombia / AFP.
                    </figcaption>
                </figure>
            
            
            </div>
            
            
            <div class="Articulo  ">
                <h4 class="Titem-1 text-center">Los pilotos de MotoGP reclaman más seguridad en la formación: "Que mis hijos jueguen a tenis"</h4>
            
            
                <p class="Texto text-left">Después del fallecimiento de Dean Berta Viñales, Aleix Espargaró, Rins o Mir ofrecen soluciones como elevar la edad mínima para competir o que los adolescentes corran más tiempo en minimotos
                </p>
            
            
            
            <figure class="figure ">
                <img src="/Img/Depor.webp" class="figure-imgc img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-danger text-center">El homenaje a Dean Berta Viñales en Austin.ERIK S. LESSEREFE.
                </figcaption>
            </figure>
            
                <p class="Texto text-left">Por la cercanía que tenía con varios pilotos de MotoGP -algunos incluso habían entrenado con él-, la muerte de Dean Berta Viñales, el primo segundo de Maverick, de 15 años, removió el paddock del Mundial, que este fin de semana visita el circuito de Austin, en Estados Unidos. Además de mostrar su apoyo a Maverick, que el miércoles decidió no competir y regresar a su casa en Girona, Joan Mir, Aleix Espargaró o Álex Rins reclamaron este jueves medidas para que no haya más adolescentes fallecidos en su deporte.
                </p>
                
                <p class="Texto text-left">A su llegada al trazado de Texas, uno de ellos, Espargaró, de hecho, desveló que había emplazado a una reunión a Dorna, la empresa organizadora de los Mundiales de MotoGP y de Superbikes, para ofrecerles sus ideas. "Se pueden hacer muchas cosas para evitar contactos. Con la electrónica podemos parar las motos si hay un accidente y en el Campeonato de España de Velocidad podría ser obligatorio el 'airbag' que ya usamos en el Mundial", comentó, siempre diáfano, tanto que abordó la raíz del problema: la edad.
                </p>

                <p class="Texto text-left">La edad mínima para competir en el Mundial es 16 años y ahora está en estudio si elevarla a 17 o incluso 18 años. Eso permitiría que en las categorías de formación se empezase más tarde y que todos los niños tuviesen más tiempo para aprender. "Pero no son sólo esos 16 años como mínimo en el Mundial. En los circuitos puedes correr con 12 años con una Moto4, que es parecida a una Moto3, y eso es peor. Los jóvenes deberían estar más tiempo con las minimotos, donde la velocidad es menor, y también se aprende. Ahora todos quieren ir a los circuitos grandes antes que a los karting", apuntó Espargaró, que reconoció algo personal: "No quisiera que mis hijos fueran pilotos. Que jueguen a tenis".
                </p>
            
                <p class="Texto text-left">En contraposición, Álex Rins, que también acaba de ser padre -como Maverick Viñales-, comentó que él no tendría problemas si su hijo quisiera correr en moto y que una solución para evitar accidentes sería romper la igualdad que reina en las categorías inferiores. "Quizá al poner más potencia las motos vayan menos juntas", señaló Rins, acompañado por el vigente campeón, Mir, en su exposición: "Se ve que en las categorías pequeñas los pilotos van muy juntos por el rebufo. Si no eres tan rápido, puedes suplir ese segundo con el rebufo".
                </p>
            
                <p class="Texto text-left">En todo caso, la labor está en manos de la Federación Internacional de Motociclismo (FIM) y de la organizadora Dorna que llevan años estudiando medidas de seguridad en las pruebas de formación, pero todavía no las han aplicado. Según apuntaba recientemente la FIM, sobre la mesa están las opciones de elevar las edades mínimas obligatorias y, entre otras, de limitar el número de competidores en pista -el día del accidente de Dean Berta Viñales había 42 pilotos-.
                </p>
            
            
            </div>
        </div>
            
            <div id="areaC">
                <aside>
                    <h4 class="Titem-2 text-center">Datos random del mundo extremo</h4>
                    <p class="Texto2 text-left">1. El record de limbo skating por pasar debajo del mayor número de autos lo tiene
                        Aniket Chindak: 81 Tata Sumos, un coche que se fabrica en India. Tenía 7 años en ese entonces, en 2008, y lo
                        hizo meses después de haber impuesto su anterior récord de 57 automóviles..
                    </p>
                    <p class="Texto2 text-left"> 2. El slackline más largo que se ha hecho fue de los alemanes Damien Jörren y
                        Stefan Junghannß, en junio de 2010: 306.8 metros.
                    </p>
                    <p class="Texto2 text-left"> 3. Y el record de altura Free Solo es de Andy Lewis: 103 metros de largo a 1,219
                        metros de altura, sobre una cuerda suspendida entre dos globos aerostáticos y sin ningún arnés de seguridad.
                        Lo hizo en el Desierto de Mojave, Utah, EU.
                    </p>
                    <p class="Texto2 text-left"> 4. El acrónimo del salto BASE se debe a las plataformas donde puedes realizarlo:
                        Buildings (edificios); Antenas, Spans (puentes), y Earth (riscos).
                    </p>
                    <p class="Texto2 text-left"> 5. El salto BASE más corto que se ha hecho en intramuros es del británico Russell
                        Powell, cuando en 1990 saltó de la Whispering Galleria de la Catedral de San Pablo, en Londres, con 31
                        metros de estiramiento. Lo hizo ilegalmente.
                    </p>
                    <p class="Texto2 text-left"> 6. Cabe mencionar que el record de altura en salto BASE lo tienen Nasr Al Niyadi y
                        Omar Al Hegelan, de la Emirates Aviation Society, cuando saltaron del piso 160, a 672 metros, del edificio
                        en operaciones más alto del mundo: el Burj Kalifah de Dubái.
                    </p>
                    <p class="Texto2 text-left"> 7. Uno de los primeros indicios de la existencia del surf se dio cuando el capitán
                        y explorador británico, James Cook, vio a un nativo de Hawái deslizarse en la marea con una tabla. En su
                        bitácora escribió: “No puedo evitar concluir que el hombre sentía el más supremo placer mientras era llevado
                        con tanta rapidez y suavidad por el mar”.
                    </p>
                    <p class="Texto2 text-left"> 8. Al tipo que deambula en la playa con una tabla de surf y que pretende ser
                        surfer, sin saber surfear, se le llama “hodad” en California.
                    </p>
                    <p class="Texto2 text-left"> 9. Ah, y hay una clase llamada La Ciencia y Tecnología del Surf en la Universidad
                        de Plymouth, Inglaterra, desde 1999.
                    </p>
                    <p class="Texto2 text-left"> 10. El skateboarding fue vetado en Noruega entre 1978 y 1989 debido a los muchos
                        accidentes relacionados con la disciplina que se registraron en aquel país. Pero los dedicados siguieron
                        patinando en rampas escondidas en bosques y demás lugares.
                    </p>
            
            
            
                </aside>
            </div>
            </div>
            
            
            
            <!-- JAVASCRIPT CDNS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
            
            </body>

<footer >
    <div class="Containerpie text-center text-white " id="PiedePag">
        <h1 class="CopyPiedePag"> Copyright © 2021 Periodico Digital </h1  >
    </div>
</footer>

</html>