<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"><!--estandar de caracteres que se va a utlizar (ñ ch tildes o carateres especiales )   -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--Compatible con que navegadores   -->
    <meta name="viewport" content="width= , initial-scale=1.0"><!--acncho del dispositivo donde se puede visualizar la pag.  -->
    <title><%=title %></title><!--El titulo de la pagina  -->
<!--espacio para herramientas o plugins necesarios para esta pag   -->
    <!-- BOOTSS 4 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- estilo google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">
    
    <!-- CUstom CSS PErsonalizado -->
    <link rel="stylesheet" href="/CSS/Titulares.css"><!--Incluyo el arhivo css Home tipo de archivo stylesheet href ruta de archivo -->
<!-- Animaciones -->
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <style> 
        body {
        font-family: 'Spicy Rice',cursive;
        
    }
    </style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet">
<style> 
    .titulo {
        font-family: 'Ephesis', cursive;
        font-size:80px;
}
</style>
</head>

<body> <!--Aqui van los componentes de la Pg  -->
    <div class="Containerh1 text-left  text-white " id="encabezado">
        <h1 class="TituloEnca "> Nos encontramos a tu servicio 24/7. Contactanos al <i class="fas fa-phone"></i> 068-0000000 <i class="fab fa-whatsapp" id="Wpp"></i> 300-0000-000. Buscanos tambien en <i class="fab fa-facebook "id="Face"></i>  <i class="fab fa-twitter "id="Twit"></i> y <i class="fab fa-instagram"id="Inst"></i></h1  >
            
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark" id="selector">
        <div class="container">
            <a class="navbar-brand" href="/">  Peridico Digital</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Titulares"><i class="fas fa-scroll"></i> Titulares</a>
                    </li>
                    
                </ul>
                <span class="navbar-text " aria-current="">
                    <i class="fas fa-book-open"></i> Bienvenido a tu Peridico Digital
                </span>
            </div>
        </div>
    </nav>

    <h3 class="titulo text-center text-black"> Farandula</h3>

    <div id="MenuIMa">
        <div id="areaA">
            
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Economia">Economia.</a>

                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -¿Qué es el techo de deuda y cómo podría descarrilar la economía de EE.UU.?
                    </p>

                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -Activan plan de contingencia por afectaciones al oleoducto Caño Limón–Coveñas
                    </p>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/Deportes">Deportes.</a>

                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -Colombia pedirá Copa América de 2023, esperando que futuros paros no la tumben.
                    </p>

                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -Los pilotos de MotoGP reclaman más seguridad en la formación: "Que mis hijos jueguen a tenis".
                    </p>
                </li>
                <li class="nav-item">
                    <a class="nav-link  " aria-current="page" href="/Colombia">Colombia</a>
                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -Colombia: En agosto creció la demanda de energía un 5,68%.
                    </p>

                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -‘Innovamente’ abrió sus puertas en el Tolima.
                    </p>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="/Farandula">Farandula.</a>
                    
                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -Andrea Serna muestra su elegante casa a sus seguidores.
                    </p>
                    
                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -Lina Tejeiro pagó gran suma por dañar un vestido de Carolina Herrera.
                    </p>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="/Tecnologia">Tecnologia.</a>
                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        "Apagón" de internet: a qué teléfonos y computadoras puede afectar.
                    </p>
                </li>
            </ul>
    
        </div>
    
        <div id="areaB">
        
        
        
            <div class="Articulo  ">
                <h4 class="Titem-1 text-center">Andrea Serna muestra su elegante casa a sus seguidores.</h4>
            
                <figure class="figure ">
                    <img src="/Img/Faran.jpeg" class="figure-imgc img-fluid rounded" alt="...">
                    <figcaption class="figure-caption text-danger text-center">Andrea Serna nació en Aranzazu, Caldas, pero creció
                        en Cali, donde vive su familia. FOTO: Hernán Puentes.
                    </figcaption>
                </figure>
            
                <p class="Texto text-left">La presentadora de televisión y modelo Andrea Serna siempre se ha caracterizado por
                    su
                    elegancia, belleza y talento. Y como sucede con muchos famosos, los seguidores han mostrado interés en la
                    forma en
                    que ella vive en lo más íntimo de su hogar.
                </p>
            
                <p class="Texto text-left"> Y sus seguidores se lo hicieron saber recientemente en una sesión de preguntas y
                    respuestas que Serna
                    realizó por
                    medio de historias desde su cuenta de Instagram, donde le preguntaron cómo era su casa.
                </p>
            
                <p class="Texto text-left"> La famosa, quien ha destacado, entre otras cosas, por conducir el ‘Factor X’ y más
                    recientemente por ser la
                    cara del
                    programa ‘El Desafío’, preguntó a los internautas qué pensaban de ella.
                </p>
            
                <p class="Texto text-left"> “Procuro (tener la casa impecable) porque se trata de mi casa. Creo que es importante
                    llegar a un lugar que
                    te
                    transmita tranquilidad y paz. No depende del tamaño, sino que no sea un despelote”, explicó la presentadora.
                    Esta no es la primera vez que Serna sube imágenes de ella en medio de su casa. Ya en el pasado lo ha hecho,
                    en
                    especial posando en la sala o el comedor, lo cual ha permitido conocer más acerca de la decoración que le
                    gusta.
                </p>
                <figure class="figure ">
                    <img src="/Img/Faran1.jpeg" class="figure-imgc img-fluid rounded" alt="...">
                    <figcaption class="figure-caption text-danger text-center">Andrea Serna muestra su casa.
            
                        Foto: Instagram: @andreasernafotos
                    </figcaption>
                </figure>
            
                <p class="Texto text-left">Una persona aprovechó para señalar que creía que la casa de la famosa era
                    "Impecable". Ante
                    eso, no tuvo problema en mostrarle a los fanáticos algunos espacios de su hogar.
            
            
                </p>
            
                <figure class="figure ">
                    <img src="/Img/Faran2.jpeg" class="figure-imgc img-fluid rounded" alt="...">
                    <figcaption class="figure-caption text-danger text-center">Andrea Serna muestra su casa.
            
                        Foto: Instagram: @andreasernafotos
                    </figcaption>
                </figure>
            
                <p class="Texto text-left">
                    Serna se grabó frente a un espejo ubicado en un elegante pasillo, el cual cuenta con repisas adornadas con fotos
                    de su
                    familia, así como de bellas y delicadas esculturas.
                </p>
            </div>
            <div class="Articulo  ">
                <h4 class="Titem-1 text-center">Lina Tejeiro pagó gran suma por dañar un vestido de Carolina Herrera.</h4>
        
                <figure class="figure ">
                    <img src="/Img/Faran3.jpeg" class="figure-imgc img-fluid rounded" alt="...">
                    <figcaption class="figure-caption text-danger text-center">FOTO COLPRENSA
                    </figcaption>
                </figure>
        
                <p class="Texto text-left">Sorprendidos, así dejó Lina Tejeiro a sus seguidores con la confesión que hizo sobre un vestido que dañó de la famosa diseñadora Carolina Herrera.
                </p>

                <p class="Texto text-left">A través de un video en sus redes, Lina reveló que le tocó pagar una millonada a la prestigiosa marca, luego de dañar un vestido que le habían prestado para los premios TvyNovelas 2013, y aunque hoy en día está mejor económicamente, en ese tiempo Lina vivía “arrancada”.</p>

                <p class="Texto text-left">“Me lo prestaron con la condición de que lo entregara impecable, nuevo, como si nada hubiera pasado y yo me arriesgué”, dijo la actriz.</p>
        
                <p class="Texto text-left"> Sin embargo, nada salió como ella lo pensó, pues el atuendo se manchó con los pétalos de rosas que estaban en la alfombra roja.
                </p>              
        
                <p class="Texto text-left">“Yo feliz, por un lado, por el otro, foto va, foto viene, pero no era consciente que estaba pisando todos los pétalos de rosas y que el vestido me quedaba largo, manché el vestido, pero dije ‘no importa, mañana lo mando a la lavandería”, relató.

                </p>

                <p class="Texto text-left">        
                    Ante esto, Tejeiro mandó él vestido a una lavandería con la esperanza de que quedara como nuevo, pero este no tenía solución, por lo que le tocó pagar el bello vestido color esmeralda de Carolina Herrera.
                </p>
        
        
        
            </div>
        </div>
        
        <div id="areaC">
            <aside>
                <h4 class="Titem-2 text-center">Datos curiosos sobre famosos que definitivamente cambiarán tu forma de ver el mundo</h4>
                <h4 class="Titem-2 text-danger">1. Google Images se creó cuando Jennifer Lopez se puso aquel vestido en los Premios Grammy del 2000</h4>
                <p class="Texto2 text-left">Fue el término de búsqueda más popular en Google en su día, pero no había opción de búsqueda por imágenes. Así que se creó Google Images.</p>
                <h4 class="Titem-2 text-danger">2. Y YouTube no habría existido jamás de no ser por el fallo de vestuario que sufrió Janet Jackson en el Super Bowl de 2004.</h4>
                <p class="Texto2 text-left">Uno de los creadores de YouTube se había perdido el partido y no pudo encontrar vídeos sobre el incidente en la red. Así que sus amigos y él empezaron a codificar para crear un sitio web que permitiera a los usuarios subir sus propios vídeos. El sitio acabó convirtiéndose en YouTube y se lanzó poco después.</p>       
                <h4 class="Titem-2 text-danger">3. Leighton Meester nació en la cárcel.</h4>
                <p class="Texto2 text-left">Leighton nació mientras su madre cumplía una condena de 10 años por su papel en una red de contrabando de droga. Poco después de nacer la mandaron a vivir con su abuela hasta que su madre saliera de la cárcel. Leighton ha hablado abiertamente sobre su niñez y ha desvelado que esta experiencia la convirtió en una persona “que no juzga y de mente abierta”.</p>       
                <h4 class="Titem-2 text-danger">4. Ellen DeGeneres es familia lejana de Kate Middleton.</h4>
                <p class="Texto2 text-left">Las dos mujeres son primas en decimoquinto lugar debido a que descienden de Sir Thomas Fairfax y su esposa Agnes Gascoigne, que vivieron en el Reino Unido a principios del siglo XVI.</p>       
                <h4 class="Titem-2 text-danger">5. Martin Luther King Jr y Anne Frank tendrían la misma edad que Barbara Walters si siguieran vivos.</h4>
                <p class="Texto2 text-left">Aunque es fácil pensar que existieron en épocas muy diferentes, los tres nacieron en 1929.</p>       
                <h4 class="Titem-2 text-danger">6. Antes de su tremenda pelea Katy Perry solía llevar en el bolso un mechón de pelo de Taylor Swift.</h4>
                <p class="Texto2 text-left">Kathy desveló: “una de las primeras veces que acudí a los Grammy compartí camerino con Miley Cyrus y Taylor Swift y les pedí a ambas un mechón de pelo, lo cual es muy de persona rara pero es maravilloso. Les puse unos lacitos individuales y me los metí en el bolso. Y ese era mi pequeño secreto. ¡Soy una friki!”</p>       
                <h4 class="Titem-2 text-danger">7. Khloé Kardashian padeció una lesión cerebral traumática en 2001 tras un accidente de coche en el que salió despedida por el parabrisas. Todavía tiene pérdidas de memoria a largo plazo como resultado del accidente.</h4>
                <p class="Texto2 text-left">Durante un episodio de Keeping Up With The Kardashians, Khloé dijo: “me resulta realmente irritante y frustrante y un poco triste no poder recordar muchas cosas de mi niñez por culpa de aquel accidente de coche”.</p>       
        
            </aside>    
        </div>
</div>
                
    

<!-- JAVASCRIPT CDNS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</body>

<footer >
    <div class="Containerpie text-center text-white " id="PiedePag">
        <h1 class="CopyPiedePag"> Copyright © 2021 Periodico Digital </h1  >
    </div>
</footer>

</html>