<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"><!--estandar de caracteres que se va a utlizar (ñ ch tildes o carateres especiales )   -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--Compatible con que navegadores   -->
    <meta name="viewport" content="width= , initial-scale=1.0"><!--acncho del dispositivo donde se puede visualizar la pag.  -->
    <title><%=title %></title><!--El titulo de la pagina  -->
<!--espacio para herramientas o plugins necesarios para esta pag   -->
    <!-- BOOTSS 4 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- estilo google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">
    
    <!-- CUstom CSS PErsonalizado -->
    <link rel="stylesheet" href="/CSS/Home.css"><!--Incluyo el arhivo css Home tipo de archivo stylesheet href ruta de archivo -->
<!-- Animaciones -->
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <style> 
        body {
        font-family: 'Spicy Rice',cursive;
    }
    </style>
</head>

<body> <!--Aqui van los componentes de la Pg  -->
    <div class="Containerh1 text-left  text-white " id="encabezado">
        <h1 class="TituloEnca "> Nos encontramos a tu servicio 24/7. Contactanos al <i class="fas fa-phone"></i> 068-0000000 <i class="fab fa-whatsapp" id="Wpp"></i> 300-0000-000. Buscanos tambien en <i class="fab fa-facebook "id="Face"></i>  <i class="fab fa-twitter "id="Twit"></i> y <i class="fab fa-instagram"id="Inst"></i></h1  >
            
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark" id="selector">
        <div class="container">
            <a class="navbar-brand" href="/">  Peridodico Digital</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Titulares"><i class="fas fa-scroll"></i> Titulares</a>
                    </li>
                    
                </ul>
                <span class="navbar-text " aria-current="">
                    <i class="fas fa-book-open"></i> Bienvenido a tu Peridico Digital
                </span>
            </div>
        </div>
    </nav>

    <h3 class="titulo text-center text-warning"> Periodico Digital </h3>
    
<!-- imagen desplazar Diapositvas y texto -->
<div class="ContainerMenuIMa" id="MenuIMa">
        
    <div class="text-center " id="TextoDere">
        <h3 class="text-primary">¿Quienes Somos?</h3>
                <p class="text-white">
                    Somos un Peridico independiente, queremos mantenerte al tanto de lo que acontence en el Mundo. Periodico Digital Lider en las plataformas Web, encuentranos en todas nuestra plataformas Facebook, Instangram, Twitter o escribenos al Whatsapp.
                </p>  
                <h3 class="text-primary">¿Que Hacemos?</h3>
                <p class="text-white">
                Investigamos mas alla de la Noticia, reportes 24 horas al dia, en todas partes del mundo, Periodico Digital tu aliado en informacion nacional e internacional. Nuestro obejetivo Principal es mantener actualizados a nuestros lectores, teniendo noticias de ultimo momento.
                </p>  
    </div>
    
<figure class="figure">
    <div class="container3">
        <div class="row1">
            <div class="col-sm-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner ">
                        <div class="carousel-item active">
                            <img src="/Img/Depor.webp" class="d-block w-100" alt="bootstrap" width="620px" height="450px">
                            <div class="carousel-caption d-none d-md-block text-black ">
                                
                                <p id="MensajeDia text-black">El homenaje a Dean Berta Viñales en Austin.ERIK S. LESSEREFE.</p>
                            </div>  
                        </div>
                        <div class="carousel-item">
                            <img src="/Img/Colom.jpeg" class="d-block w-100" alt="..." width="620px" height="450px">
                            <div class="carousel-caption d-none d-md-block text-black">
                                
                                <p id="MensajeDia text-black">FOTO: Universidad del Tolima.</p>
                            </div>  
                        </div>
                        <div class="carousel-item">
                            <img src="/Img/Noti3.jpg" class="d-block w-100" alt="..." width="620px" height="450px">
                            <div class="carousel-caption d-none d-md-block text-black">
                                
                                <p id="MensajeDia text-black">Colombia: En agosto creció la demanda de energía un 5,68%</p>
                            </div>  
                        </div>
                        <div class="carousel-item">
                            <img src="/Img/Faran3.jpeg" class="d-block w-100" alt="..." width="620px" height="450px">
                            <div class="carousel-caption d-none d-md-block text-black">
                                
                                <p id="MensajeDia text-black">FOTO COLPRENSA.</p>
                            </div>  
                        </div>
                        <div class="carousel-item">
                            <img src="/Img/Econo.jpg" class="d-block w-100" alt="..." width="620px" height="450px">
                            <div class="carousel-caption d-none d-md-block text-black">
                                
                                <p id="MensajeDia text-black">El oleoducto que transporta el crudo desde el campo Caño Limón (Arauca) tiene una longitud de 770 kilómetros y cruza por cinco departamentos. / Archivo - El Espectador.</p>
                            </div>  
                        </div>
                        
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button"  data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button"  data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
<figcaption class="PieImagenes text-danger">Ultimas Noticias.</figcaption>
</figure>

</div> 

    <!-- Section Abajo 2 cuadros-->
    <div class="container-fliuid "id="Abajo"  >
        <div class="row bg-warning text-black p-2 " >
            <div class="col " id="primercuadro">
                <div class="col text-center"> 
                    <h3>Periodico digital</h3>
                    <p>
                        Te informamos de lo ultimo que acontece   
                    </p>
                </div>
                <div >
                    <li>                    
                        <a class="nav-link active "  aria-current=" " href="/Economia">Mira las noticias mas actuales, da click aca para ver las principales Noticias</a>
                    </li>
                </div>
            </div>
            <div class="col text-center"> 
                <h3>Periodico Digital </h3>
                <p>
                    Lider en las plataformas Web, agreganos a tu favoritos para mantenerte Bien informado. 
                </p>
            </div>
            
        </div>
    </div>
   <!-- JAVASCRIPT CDNS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

<footer >
    <div class="Containerpie text-center text-white " id="PiedePag">
        <h1 class="CopyPiedePag"> Copyright © 2021 Periodico Digital </h1  >
    </div>
</footer>

</html>