<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"><!--estandar de caracteres que se va a utlizar (ñ ch tildes o carateres especiales )   -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--Compatible con que navegadores   -->
    <meta name="viewport" content="width=460 , initial-scale=1.0"><!--acncho del dispositivo donde se puede visualizar la pag.  -->
    <title>Economia</title><!--El titulo de la pagina  -->
<!--espacio para herramientas o plugins necesarios para esta pag   -->

    <!-- BOOTSS 4 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- estilo google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">
    
    <!-- CUstom CSS PErsonalizado -->
    <link rel="stylesheet" href="/CSS/Titulares.css"><!--Incluyo el arhivo css Home tipo de archivo stylesheet href ruta de archivo -->
<!-- Animaciones -->
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <style> 
        body {
        font-family: 'Spicy Rice',cursive;
    }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet">
    <style>
        .titulo {
            font-family: 'Ephesis', cursive;
            font-size: 80px;
        }
    </style>
</head>

<body> <!--Aqui van los componentes de la Pg  -->
    <div class="Containerh1 text-left  text-white " id="encabezado">
        <h1 class="TituloEnca "> Nos encontramos a tu servicio 24/7. Contactanos al <i class="fas fa-phone"></i> 068-0000000 <i class="fab fa-whatsapp" id="Wpp"></i> 300-0000-000. Buscanos tambien en <i class="fab fa-facebook "id="Face"></i>  <i class="fab fa-twitter "id="Twit"></i> y <i class="fab fa-instagram"id="Inst"></i></h1  >
            
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark" id="selector">
        <div class="container">
            <a class="navbar-brand" href="/">  Periodico Digital</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="" href="/Titulares"><i class="fas fa-scroll"></i> Titulares</a>
                    </li>
                    
                </ul>
                <span class="navbar-text " aria-current="">
                    <i class="fas fa-book-open"></i> Bienvenido a tu Peridico Digital
                </span>
            </div>
        </div>
    </nav>

    <h3 class="titulo text-center text-black"> Tecnologia</h3>

    <div id="MenuIMa">
        <div id="areaA">
            
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Economia">Economia.</a>

                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -¿Qué es el techo de deuda y cómo podría descarrilar la economía de EE.UU.?
                    </p>

                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -Activan plan de contingencia por afectaciones al oleoducto Caño Limón–Coveñas
                    </p>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/Deportes">Deportes.</a>

                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -Colombia pedirá Copa América de 2023, esperando que futuros paros no la tumben.
                    </p>

                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -Los pilotos de MotoGP reclaman más seguridad en la formación: "Que mis hijos jueguen a tenis".
                    </p>
                </li>
                <li class="nav-item">
                    <a class="nav-link  " aria-current="page" href="/Colombia">Colombia</a>
                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -Colombia: En agosto creció la demanda de energía un 5,68%.
                    </p>

                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -‘Innovamente’ abrió sus puertas en el Tolima.
                    </p>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="/Farandula">Farandula.</a>
                    
                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -Andrea Serna muestra su elegante casa a sus seguidores.
                    </p>
                    
                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        -Lina Tejeiro pagó gran suma por dañar un vestido de Carolina Herrera.
                    </p>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="/Tecnologia">Tecnologia.</a>
                    <p id="tituloM" class="nav-link ms-3 my-1 text-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6">
                        "Apagón" de internet: a qué teléfonos y computadoras puede afectar.
                    </p>
                </li>
            </ul>
    
        </div>
    
        <div id="areaB">
        
            <h4 class="Titem-1 text-center">"Apagón" de internet: a qué teléfonos y computadoras puede afectar.</h4>
        
            <figure class="figure ">
                <img src="/Img/Tecno.jpg" class="figure-imgc img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-danger text-center">Redacción
                    BBC News Mundo
                    29 septiembre 2021. GETTY IMAGES.
                </figcaption>
            </figure>
        
            <div class="Articulo  ">
        
                <p class="Texto text-left">No deberías estar preocupado por quedarte sin internet en tu teléfono o computadora este 30 de septiembre… a menos que tengas un dispositivo viejo y sin actualizar.

                <p class="Texto text-left">    Este jueves caducará un elemento clave para la conexión a la red de teléfonos celulares, computadoras Mac o Windows, navegadores de internet y hasta consolas de videojuegos; lo que desde algunos sectores se ha denominado como "apagón de internet".
                </p>
                <p class="Texto text-left">    Se trata de un "certificado raíz" que tiene un nombre muy técnico, IdentTrust DST Root CA X3, el cual tiene como fecha y hora de expiración el 30 de septiembre a las 14:01 GMT.
                </p>  
                <p class="Texto text-left">    Los certificados raíz sirven como una llave de enlace entre un dispositivo, ya sea celular o computadora, e internet. Son un elemento que garantiza que las conexiones sean seguras y estén encriptadas.
                </p>
                <p class="Texto text-left">    Mantener el sistema de un dispositivo actualizado (iOS, Android, Windows, entre otros) permite que tales certificados se mantengan al día, pues los que están próximos a caducar son reemplazados por nuevos.
                    Pero no hacerlo trae consecuencias.
                </p>
                <p class="Texto text-left">   "Al menos algo, en algún lugar, se va a estropear", advierte en su blog el experto en seguridad informática Scott Helme.
                </p>

                <h4 class="Titem-1 text-center">¿Quién se puede ver afectado?.</h4>

                <p class="Texto text-left">A la gran mayoría de dispositivos no les pasará nada.
                </p>
                <p class="Texto text-left">    Pero aquellos que tengan sistemas operativos desactualizados podrían verse imposibilitados a conectarse a la red.
                </p>    
                <p class="Texto text-left">    Entre ellos, sistemas de computadores de fábricas que nunca están conectados a internet, o teléfonos inteligentes que nunca se conectan a una red Wi-Fi o que no han sido actualizados en unos 5 años o más.
                </p>
        
                <figure class="figure ">
                    <img src="/Img/Tecno1.jpg" class="figure-imgc img-fluid rounded" alt="...">
                    <figcaption class="figure-caption text-danger text-center">Teléfonos iPhone con iOS inferior a la versión 10, la cual se puede instalar a partir del iPhone 5, podrían resultar afectados.
                    </figcaption>
                </figure>
                
                <p class="Texto text-left">    
                    Esto debido a que hay una serie de equipos que solo confían en el certificado IdenTrust DST Root CA X3 de la firma Let's Encrypt, lanzado en el año 2000 y que caduca este 30 de septiembre.
                </p>
                <p class="Texto text-left">    Esto son algunos de los dispositivos y sistemas afectados:
                </p>
                <p class="Texto text-left">  Teléfonos iPhone que tengan un sistema anterior al iOS 10 (el iPhone 5 es la versión más antigua que puede instalarlo).
                    Computadoras con Windows XP SP3
                    MacBooks con el sistema anterior al macOS 2016
                    Computadoras con el sistema operativo anterior al Ubuntu 16.04
                    Consolas PlayStation 3 que usan firmware y Nintendo 3DS
                    Teléfonos Android con la versión anterior al Nougat 7.1.1 (pero sí podrían seguir usando internet a través del navegador Firefox).
                    El navegador Firefox con una versión inferior a la 50.
                    Computadoras que usen OpenSSL, NNS, Java 8 y 7, el sistema Debian
                    Otros dispositivos que no está claro si podrían resultar afectados, según Helme, son los teléfonos Blackberry (versiones previas al 10.3.3) y los lectores de libros Kindle, de la versión inferior a la 3.4.1.</p>
        
        
        
            </div>
        </div>
        
        <div id="areaC">
            <aside>
                <h4 class="Titem-2 text-center">10 DATOS CURIOSOS SOBRE TECNOLOGÍA</h4>
                <p class="Texto2 text-left">1. Hay 1.940 millones de usuarios en Facebook y es la red social más usada en el planeta. Le siguen WhatsApp y Facebook Messenger, con 1.200 millones. YouTube tiene 1.000 millones y le siguen WeChat, con 889 millones y QQ con 868 millones. Instagram ya alcanzó los 700 millones.</p>       
                <p class="Texto2 text-left">2. Para el 2019, se estima que existirán 371 millones de usuarios de internet en América Latina, según Cisco. Habrá 1.911 millones de dispositivos. De estos, 517 millones serán móviles.</p>       
                <p class="Texto2 text-left">3. El tráfico de datos móviles crecerá 10 veces desde el 2014 hasta el 2019. El tráfico de datos móviles alcanzará los 2,0 exabytes.</p>       
                <p class="Texto2 text-left">4. Las tres contraseñas más usadas en el mundo son ‘123456’, ‘password’ y ‘12345, según la empresa experta en aplicaciones de seguridad SplashData.</p>       
                <p class="Texto2 text-left">5. La primera webcam de la historia fue utilizada para hacer seguimiento de la operación de una máquina de café. Fue implementada en el laboratorio de computación de la Universidad de Cambridge. Los ingenieros querían saber si el café ya estaba listo antes de bajar por él –la máquina se encontraba en otro piso–.</p>       
                <p class="Texto2 text-left">6. El primer dominio registrado fue Symbolics.com. Fue activado el 15 de marzo de 1985 y aún se encuentra en línea.</p>       
                <p class="Texto2 text-left">7. El primer tuit fue enviado el 21 de marzo de 2006. La principal razón por la cual la plataforma de ‘microblogging’ adoptó el límite de 140 caracteres respondió a la naturaleza del sistema en sus inicios: como se trataba de una red basada en SMS, fue necesario adaptarse a las restricciones existentes: los operadores limitaban este método de comunicación a máximo 160 caracteres. Dejaron 20 caracteres libres para que se pudiera incluir el nombre de usuario.</p>       
                <p class="Texto2 text-left">8. El primer video de YouTube fue subido el 23 de abril de 2005. Se llama “Me at the Zoo”. El autor fue Jawed Karim, uno de los cofundadores de la plataforma..</p>       
                <p class="Texto2 text-left">9. Cada segundo, se crean doce nuevos virus informáticos, según la empresa de seguridad informática Kaspersky.</p>       
                <p class="Texto2 text-left">10. Robert Tappan Morris creó el primer ‘gusano’ (‘worm’ en inglés) de la historia. Su propósito, en principio, era benévolo: Morris quería determinar la dimensión de internet. Sin embargo, su programa tenía un error que transformó el ‘gusano’ en un ‘virus’ dañino capaz de inutilizar equipos de cómputo. Afectó a 6.000 computadores en 1988. Lo daños se estiman en 100 millones de dólares. El hecho inspiró los ataques de denegación de servicio (DdoS).</p>
            </aside>    
        </div>
</div>
                
        
        
    <!-- CDN JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
<footer >
    <div class="Containerpie text-center text-white " id="PiedePag">
        <h1 class="CopyPiedePag"> Copyright © 2021 Periodico Digital </h1  >
    </div>
</footer>


</html>